


<footer class="py-3 my-4 container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


<!-- <script>
// jQuery document ready function
$(document).ready(function() {
    // Attach click event handler to div elements
    $(".department-card").click(function() {
        // Get the id of the clicked div
        var divId = $(this).attr("id");
        console.log(divId)
        
        // Send an AJAX POST request to the server with the department ID as a parameter
        $.ajax({
            url: `/submit/${divId}`, // Construct the URL with the department ID
            type: "POST",
            contentType: "application/json",
            success: function(response) {
                // Handle success response from the server
                console.log("Data successfully submitted:", response);
            },
            error: function(xhr, status, error) {
                // Handle error response from the server
                console.error("Error submitting data:", error);
            }
        });
    });
});

</script> -->
</body>
</html>